
<app-navbar></app-navbar>

    
                        
               
 <!-- <div class="container-fluid h-100  w-100 p-0 pb-5 ">
        <header class="masthead text-white ">
          <div class="container-fluid h-100 w-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 text-center">
               <h1 class="fw-light">Vertically Centered Masthead Content</h1>
                <p class="lead">A great starter layout for a landing page</p>
                <button type="button" class="btn btn-primary btn-lg mx-4 " routerLink="/register">
                  
                   Register
                </button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/login">
                  
                  Login</button>
               <router-outlet>

               </router-outlet>
              </div>
            </div>
          </div>
        </header>
    </div> -->
                 
   
   <router-outlet>

</router-outlet>









